<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title%></title>
        <script type = "text/javascript" >
            <%= 
            compilation.assets[htmlWebpackPlugin.files.chunks.index.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
        </script>
    </head>
    <body>
        <%= htmlWebpackPlugin.options.date %>
        <% for (var k in htmlWebpackPlugin.files.chunks) {%>
            <% if (k != 'index') {%>
                <script type ="text/javascript" src = "<%= htmlWebpackPlugin.files.chunks[k].entry %>"> </script>
            <% } %>
        <% } %>
    </body>
</html>